<div class="login-page">
	<div class="img-container">
		<div class="text-center pull-right photo">
			<img src="images/openstack.png" class="user-avatar img-circle img-responsive" />
				<h3>VStack<br/> <span></span><br/></h3>
		</div>
	</div>
		<div ng-show="error" class="alert alert-danger">{{error}}</div>
		<div class="form-content">
			<div class="pro-link">
				<a href="http://www.openstack.com/"></a>
			</div>
			<form role="form" class="bottom-75" ng-submit="submit()">
			<div class="table-form">
				<div class="form-groups">
					<div class="text-center"><label>Login with Openstack Account</label></div>
					<div class="form-group">
						<input type="text" class="form-control input-lg" ng-model="openstack_server" id="openstack_server" placeholder="Openstack Server" name="openstack_server">
						<span ng-show="form.openstack_server.$dirty && form.openstack_server.$error.required" class="help-block">openstack server is required</span>
    
					</div>
					<div class="form-group">
						
						  <input type="text" class="form-control input-lg" ng-model="username" id="username" placeholder="Openstack User" name="username">
						  <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
						  
					</div>
					<div class="form-group">
					  
						<input type="password" class="form-control input-lg" ng-model="password" placeholder="Openstack Password" name="password" required>
						<span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
    
					</div>	
				</div>	
				<div class="button-container">
					<div style="float:left">
					<button type="submit" class="btn btn-default login"><img src="images/arrow.png" alt=""></button>
					 
					  <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
    			</div>
				</div>
				</div>
				
				
  				<!-- PUT your google button code here -->
				 <div style="float:left">	
					<br><div id="my-signin2"></div></br>
					</div> &nbsp; &nbsp;
					
					<!-- PUT your facebook button code here -->
				<div style="float:right">
						<br>
						 <fb:login-button size="xlarge" scope="public_profile,email" onlogin="checkLoginState();">
						</fb:login-button>
					</br>
					</div>
					<div style="clear:both"></div>
	</form>			
</div>&nbsp;&nbsp;
</div>
			